body {
  font-family: Arial;
  text-align: center;
  background: #f8f8f8;
}

.product {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
}
